
@{
    ViewBag.Title = "Vista";
}

<h2>Calcular</h2>
<div class="container">
    <div class="row dropdown-divider col-lg-6">
        <form action="/" method="post">
            <label for="n1">Numero 1</label>
            <input type="text" name="n1" value="" />
            <label for="n2">Numero 2</label>
            <input type="text" name="n2" value="" />
            <input type="submit" name="cal" value="calcular" />
        </form>
    </div>
